<div class="form-title">
  <h1>Your request</h1>
</div>

<div>
  <a href="#" target="_blank">Make a request</a><br>
  <a href="#" target="_blank">My request</a><br>
  <a href="#" target="_blank">My offers</a><br>
  <a href="#" target="_blank">My messages</a>
</div>

  <div>
    <%= render 'form', request: @request %>
  </div>
