
<h4 class="price">€ <%= @request.price %></h4>

<%= simple_form_for [@request, @offer] do |f| %>
  <%= f.input :message, class: "form-offer"%>
  <%= f.submit "Submit offer", class: "btn btn-warning" %>
  <br><br>
<% end %>
