.banner {
  padding: 80px;
  background-image: url("banner.jpg"),;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  padding: 20px 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 600px;
}

.search-bar a {
  padding: 10px 16px;
  text-decoration: none;
  color: black;
  background-color: orange;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-bar .search-input {
  width: 150px;
  border-radius: 16px;
  border: 1px solid #D9D9D9;
}

.btn-sign {
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
  background-color: orange;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-select {
  width: 100%;
  margin: 0px;
}

#banner-index {
  margin: 50px 100px;
}
