.footer {
  display: flex;
  background-color: #FFF6F6;
  padding-top: 40px;
  align-items: flex-end;
  justify-content: space-between;

  p {
    font-size: 12px;
    margin: 0px 0px 8px 16px;
  }
}
