.form {
  box-shadow: 4px
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-container {
  display:inline;
  white-space: nowrap;
  overflow-x: auto;
}

// #parent {
//   width: 100%;
//   height: 90px;
//   white-space: nowrap;
//   overflow-x: auto;
// }
// .child {
//   display: inline-block;
//   width: 50%;
//   height: 100%;
//   background-color: red;
// }
