.modal-body {
padding: 16px 16px 0px;
}

.modal-reward {
  text-align: end;
}

.modal-city {
  text-align: end;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}


.modal .mapboxgl-map {
  width: 100%;
}

.modal-body-offer {
  border-top: 1px solid lightgray;
  padding: 16px;
}
