// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/form";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;300;500&display=swap');

